<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>MENU</title>
	<link rel="stylesheet" href="style2.css">
</head>
<body>
<h1>Menu Lists</h1>
<section class="items">
<div class="1">
<img src="C:\Users\DINESH\Pictures\burger.jpg">
<h3>Burger $12.99</h3>
<button>Order</button>
</div>
<div class="2">
<img src="C:\Users\DINESH\Pictures\pizza.jpg">
<h4>Pizza</h4>
<button>Order</button>
</div>
<div class="3">
<img src="C:\Users\DINESH\Pictures\fries.jpg">
<h5>French Fries</h5>
<button>Order</button>
</div>
<div class="4>
<img src ="C:\Users\DINESH\Pictures\dosa.jpg>
<h6>Egg Dosa</h6>
<button>Order</button>
</div>
</section>
</body>
</html>